<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
 "http://www.springframework.org/dtd/spring-beans.dtd">

<beans default-autowire="byName">
	<!--Spring helpers-->
    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>

	<!--Fresh core beans-->
    <bean id="yaletSupport" class="net.sf.xfresh.core.DefaultYaletSupport">
        <property name="yaletResolver" ref="yaletResolver"/>
    </bean>
    <bean id="yaletResolver" class="net.sf.xfresh.core.SpringYaletResolver"/>

	<!--Yalets-->
    <bean id="showAttractionYalet" class="ru.amse.agregator.gui.yalets.ShowAttractionsYalet">
        <property name="manager" ref="manager"/>
    </bean>

    <bean id="showAttractionDescriptionYalet" class="ru.amse.agregator.gui.yalets.ShowAttractionDescriptionYalet">
        <property name="manager" ref="manager"/>
    </bean>

    <!--<bean id="manager" class="net.sf.xfresh.basket.model.AttractionManager"/>-->
    <bean id="manager" class="ru.amse.agregator.gui.model.AttractionManager"/>
</beans>